<%@title= @translate 'branches'%>
  <% extend 'layout/plugin/tree' %>


    <% block 'tree-scripts':%>
      <script>

$(function(){
  var count =0;
var tree=$('#jstree').jstree({
  "core" : {
     "check_callback" : true,
     'data' : {
      'url' :  '/branches/treeList' , 
    }
  },
  "types" : {
    "#" : { 
      "valid_children" : ["Branch"]
    },
    "Branch" : {
      "icon" : "fa fa-building",
      "valid_children" : ["Branch","District"]
    },
    "District" : {
       "icon" : "fa fa-map",
       "valid_children" : []
    } 
  },
  "plugins" : [
    "contextmenu", "dnd", "search",
    "state", "types", "wholerow"
  ]
}).on('select_node.jstree', function (e, data) {
     if(count==0){count++; return;}
     simpler.form.crud.read({_id:data.node.id}) ;

  }).on('move_node.jstree', function (e, data) {
      simpler.form.crud.read({_id:data.node.id},function(result){ 
        console.log(data.parent)
         $("#parent").val(data.parent);
         $("#save-form").click();
      });

    });
 
   simpler.form.reloadData=function(){
        count=0
        tree.jstree("refresh");
    }

});
</script>


      <%end%>