<% extend 'layout/form' %>
    <% include 'helpers' %>

        <div class="form-body">
            <div style="display:none">
                <%- @formGroup "_id"  %>
            </div>
            <div class="col-md-6">
                <%- @formGroup "name","required" %>
                    <%- @formGroup "surname" %>
            </div>
            <div class="col-md-6">
                <%- @formGroup "province" %>
                    <%- @formGroup "district" %>
                        <%- @formGroup "neigbourhood" %>
            </div>
        </div>