<% extend 'layout/layout' %>


<div id="datatables">
<br/>
</div>

<% block 'styles' : %>

     <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css">
     <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css">

 <% end %>

    <% block 'scripts' : %>
    
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var datatables=<%- JSON.stringify @datatables %> || [];
            datatables.filter(function(datatable){
                   $("#datatables").append("<table id='"+datatable.name+"' cellpadding='0'' cellspacing='0' border='0'>")
                   $('#'+datatable.name).DataTable(datatable)
            })
        });
    </script>

 <% end %>


 