<% extend 'layout/layout' %>


    <div class="row">
        <div class="col-md-12" id="datatables-portlet">
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-ul font-blue-steel"></i>
                        <span class="caption-subject font-blue-steel bold"><%= @title%></span>
                    </div>
                    <div class="actions">
                        <a class="btn blue-steel font-white btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                        <a class="btn blue-steel font-white btn-default  btn-circle tool-action" data-action="5" title="<%= @translate 'columns' %>" href="#">
                            <i class="fa fa-columns"></i> </a>
                        <div class="btn-group">
                            <a class="btn blue-steel font-white btn-default  btn-circle" href="javascript:;" title="<%= @translate 'tools' %>" data-toggle="dropdown">
                                <i class="fa fa-share"></i>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" id="datatable_tools">
                                <li>
                                    <a href="javascript:;" data-action="0" class="tool-action">
                                        <i class="icon-printer"></i>
                                        <%= @translate "print" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action="1" class="tool-action">
                                        <i class="icon-check"></i>
                                        <%= @translate "copy" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action="2" class="tool-action">
                                        <i class="icon-doc"></i>
                                        <%= @translate "pdf" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action="3" class="tool-action">
                                        <i class="icon-paper-clip"></i>
                                        <%= @translate "excel" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action="4" class="tool-action">
                                        <i class="icon-cloud-upload"></i>
                                        <%= @translate "csv" %>
                                    </a>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" id="datatables">
                </div>
            </div>
        </div>
        <div class="col-md-7" id=form-content>
            <% content %>
        </div>
    </div>

    <% block 'styles' : %>

        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css">
        <style>
            .dt-button-collection {
                top: 27% !important;
                left: 26% !important;
                display: block;
                z-index: 99999 !important;
            }
        </style>
        <% end %>

            <% block 'scripts' : %>

                <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
                <script src="../assets/pages/scripts/table-datatables-colreorder.min.js" type="text/javascript"></script>
                <script src="../assets/pages/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
                <script type="text/javascript">
                     $(document).ready(function () {
                         $(".menu-toggler").click();
                          var datatables=<%- JSON.stringify @datatables %> || [];
                            simpler.datatable.create(datatables);
                     });
                </script>
                <% content 'datatable-scripts' %>

                    <% end %>