<html lang="en">
<body class=" page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number font-red"> Erişim Engellendi </div>
            <div class="details">
                <h3>Bu işleme erişim yetkiniz yok</h3>
                <p>
                    <br/> yöneticinize başvurun
                    <a href="/"> Anasayfaya dönün </a> veya farklı bir işlem yapın
                </p>
            </div>
        </div>
    </div>
</body>
</html>